.moduleContainer {
    width : calc(100vw - 25vw);
}

.moduleContainer ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.moduleContainer ul li {
    width: 10%;
    padding: 70px;
    border: 1px solid black;
    margin: 20px;
}