.moduleContainer {
    width: 100%;
}

.module-header {
    background-color: #0086c4;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #005982;
}

.module-header h1{
    margin: 0;
    font-size: 1.5em;
    padding-top: 14px;
    color: white;
}

.interfaces {
    display: flex;
    flex-direction: row;
    height: calc(100% - 61px);
}

.interface-selection {
    width: 40%;
}

.interfaces .interface-selection ul {
    position: relative;
    margin: 0;
    list-style: none;
    background-color: #f7f7f7;
    height: 100%;
    padding: 0;
    border-right: 1px solid #e8e8e8;
}

.interfaces .interface-selection ul li {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 70px;
    white-space: nowrap;
    height: 70px;
    border-bottom: 1px solid #e8e8e8;
}

.interfaces .interface-selection ul .active {
    background-color: #8c8c8c;
    color: white !important;
}
.interface-selection .arrow-right {
    position: absolute;
    margin-top:15px;
    left: 0;
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid white;
}

.interface-selection .check {
    width: 20px;
    padding-left: 10px;
}

.interface-selection .times {
    width: 15px;
    padding-left: 10px;
}

.interface-details {
    width: 60%;
    background-color: #ededed;
}

.interface-details h3{
    text-decoration: underline;
}