.moduleContainer {
    width : calc(100vw - 25vw);
}

.moduleContainer ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.moduleContainer ul li {
    width: 10%;
    padding: 25px 50px 25px 50px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 30px;
}
.moduleContainer ul li h2{
    font-size: 15px;
    padding: 4px;
    width: 100%;
    background-color: aliceblue;
}

h3 {
    font-size: 14px;
    text-align: left;
    padding: 20px;
    background-color: #ccc;
    width: 15%;
    border-top-right-radius: 20px;
    border-bottom: 1px solid rgb(92, 92, 92);
}