.activeUsers ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

.activeUsers ul li {
    padding: 25px 0 25px 0;
    background-color: grey;
    margin: 10px 0;
    border-radius: 20px;
}

.activeUsers ul li:active{
    background-color: black;
}